# vim: foldmethod=marker foldmarker=#START,#END ft=bash


# Run global settings first!!
[ -e /etc/bashrc ] && source /etc/bashrc

#START Colours

#https://scriptim.github.io/bash-prompt-generator/
#https://stackoverflow.com/questions/4133904/ps1-line-with-git-current-branch-and-colors

# List of ANSI escape sequences: https://misc.flogisoft.com/bash/tip_colors_and_formatting
# echo -e to allow escape sequences

# escape all non printable chars using \[...\]
# see: https://unix.stackexchange.com/questions/28827/why-is-my-bash-prompt-getting-bugged-when-i-browse-the-history
CLEARALL='\[\e[0m\]'
BOLD='\[\e[1m\]'
CLEARBOLD='\[\e[21m\]'
DIM='\[\e[2m\]'
CLEARDIM='\[\e[22m\]'

# use 16 colour scheme
# foreground cols
COL_DEFAULT='\[\e[39m\]'
BLACK='\[\e[30m\]'
RED='\[\e[31m\]'
GREEN='\[\e[32m\]'
YELLOW='\[\e[33m\]'
BLUE='\[\e[34m\]'
MAGENTA='\[\e[35m\]'
CYAN='\[\e[36m\]'
LGRAY='\[\e[37m\]'

DGRAY='\[\e[90m\]'
LRED='\[\e[91m\]'
LGREEN='\[\e[92m\]'
LYELLOW='\[\e[93m\]'
LBLUE='\[\e[94m\]'
LMAGENTA='\[\e[95m\]'
LCYAN='\[\e[96m\]'
WHITE='\[\e[97m\]'

B_DGRAY='\[\e[01;90m\]'
B_LRED='\[\e[01;91m\]'
B_LGREEN='\[\e[01;92m\]'
B_LYELLOW='\[\e[01;93m\]'
B_LBLUE='\[\e[01;94m\]'
B_LMAGENTA='\[\e[01;95m\]'
B_LCYAN='\[\e[01;96m\]'
B_WHITE='\[\e[01;97m\]'
#END
#START Shell Settings
export EDITOR=nvim
bind "set completion-ignore-case on"
alias vim=nvim
#END
#START Path

# Directories to add to path (if they exist)
USR_PATH=(
  "/opt/homebrew/lib/ruby/gems/3.1.0/bin/"
  "/opt/homebrew/opt/ruby@3.1/bin"
  "$HOME/uni/bin"
  "$HOME/.idris2/bin"
  "$HOME/.pack/bin"
  "$HOME/miniconda3/bin"
  "$HOME/bin"
  "$HOME/.cabal/bin"
  "$HOME/.ghcup/bin"
  "$HOME/.config/emacs/bin"
  "/usr/local/anaconda3/bin"
  )

for path in ${USR_PATH[@]}; do
  [ -d  $path ] && export PATH="$path:$PATH"
done
#END
#START Device specific options
#
{{- if eq .chezmoi.username "niklas"}}
  COL=$B_LYELLOW
{{- end}}

{{- if eq .chezmoi.username "nd60"}}
  # initialise dotfiles
  [ -x $(command -v chezmoi ) ] && chezmoi apply --force
{{- end}}

#END
#START Completion
## Load extra settings from .bash
for i in ~/.bash/*-completion.bash; do
  source "$i"
done

## Load pandoc completion
[ -x $(command -v pandoc) ] && eval "$(pandoc --bash-completion)"
#END
#START Prompt / PS1

# first load git functions 
[ -e ~/.bash/git-prompt.sh ] && source ~/.bash/git-prompt.sh

# default colour
COL=$B_LBLUE

# colour for personal devices
{{- if eq .chezmoi.username "niklas"}}
COL=$B_LYELLOW
{{- end}}

# show previous 3 directories, then use ...
export PROMPT_DIRTRIM=3

colour_my_prompt () {
    #local __user_and_host="$BOLD\u@\h$CLEARALL"
    local __host="$BOLD\h$CLEARALL"
    local __current_dir="$COL\w$CLEARALL"
    # see https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh

    export GIT_PS1_SHOWDIRTYSTATE=1
    local __git="$B_LRED"'$(__git_ps1 " (%s)")'"$CLEARALL"
    export PS1="$__host $__current_dir$__git $COL\$$CLEARALL "
}

colour_my_prompt



# when using poetry, shorten the venv name a bit
#export POETRY_VIRTUALENVS_PROMPT='{project_name}'

#END



_direnv_hook() {
  local previous_exit_status=$?;
  trap -- '' SIGINT;
  eval "$("/Users/niklas/.nix-profile/bin/direnv" export bash)";
  trap - SIGINT;
  return $previous_exit_status;
};
if ! [[ "${PROMPT_COMMAND:-}" =~ _direnv_hook ]]; then
  PROMPT_COMMAND="_direnv_hook${PROMPT_COMMAND:+;$PROMPT_COMMAND}"
fi

_direnv_hook()

# setup haskell environment
#
if [ -f "~/.ghcup/env" ]
  then
    source "~/.ghcup/env"
fi





