# vim: filetype=conf:
CanonicalDomains dewally.com cs.st-andrews.ac.uk cader.net.dewally.com
CanonicalizeHostname yes
CanonicalizeMaxDots 5
AddKeysToAgent ask

Host *.dewally.com
    User niklas

Host *.cs.st-andrews.ac.uk
    User nd60

## ALIASES

Host hostcs
    HostName nd60.host.cs.st-andrews.ac.uk
    User nd60

Host lab1
    HostName pc8-055-l

Host lab2
    HostName pc8-068-l

Host lab3
    HostName pc8-077-l

Host lab4
    HostName pc8-003-l

# Home network proxy
Host tayberry
    User niklas
    Hostname cader.net.dewally.com
    ProxyJump none
    ProxyCommand none

Host gojiberry
    User niklas
    ProxyJump tayberry

## PROXY FOR PERSONAL DEVICES

{{if eq .chezmoi.username "niklas" }}
Host !*.host.cs.st-andrews.ac.uk *.st-andrews.ac.uk 138.251.*
    User nd60
    ProxyJump hostcs
{{end }}

