snippet todo
	`split(&commentstring, '%s')[0]`TODO (${1:`g:snip_username`}): ${2:<explanation>}

snippet fixme
	`split(&commentstring, '%s')[0]`FIXME (${1:`g:snip_username`}): ${2:<explanation>}

snippet hack
	`split(&commentstring, '%s')[0]`HACK (${1:`g:snip_username`}): ${2:<explanation>}

snippet bug
	`split(&commentstring, '%s')[0]`BUG (${1:`g:snip_username`}): ${2:<explanation>}

