# vim: filetype=gitconfig:
[user]
  name= "Niklas Dewally"
  email= "nd60@st-andrews.ac.uk"

[core]
    editor = nvim 
    autocrlf = input
    excludesFile=~/.gitignore.global

[alias]
  graph = log --all --decorate --oneline --graph

[pull]
  rebase = true

[rebase]
  autosquash = true
  autostash = true

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
#
[merge]
  tool = nvim

[mergetool]
  prompt = false


