# vim: filetype=gitconfig:
[user]
  name= "Niklas Dewally"
  email= "niklas@dewally.com"

[core]
    editor = nvim 
    autocrlf = input
    excludesFile=~/.gitignore.global

[alias]
    # https://www.durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
    
    # log graph
    lg = log --all --abrev-commit --decorate --oneline --graph

    # log changes from main
    lc = log --abbrev-commit --decorate --oneline --numstat --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" main..HEAD

[pull]
  rebase = true

[rebase]
  autosquash = true
  autostash = true

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
#
[merge]
  tool = nvim

[mergetool]
  prompt = false


