snippet lang
	language ESSENCE' 1.0

snippet dom create domain with letting
	letting $1 be domain $2

snippet let
	letting $1 be $2
	 
snippet gi
	given $1 : int($2..$3)

snippet fi
	find $1 : int($2..$3)
