snippet header

  #!/usr/bin/env bash
  #
  # ${1:SYNOPSIS}
  #
  # DESCRIPTION: ${2:description}
  #
  # USAGE: ${3:arguments}
  #
  # Author: ${4:niklasdewally}
  # Date: ${5:`strftime('%Y/%m/%d')`}

snippet ?cmdexists
  [ command -v ${1} ] || { >&2 echo "${2:fatal: ${1} not found!}"; exit 1; }

