# https://ejmastnak.com/tutorials/vim-latex/luasnip/
snippet def
	\begin{definition}{${1:title}}{${2:id}}
	$3
	\end{definition}

snippet rule
	\begin{rule}{${1:title}}{${2:id}}
	$3
	\end{rule}

snippet notation
	\begin{notation}{${1:title}}{${2:id}}
	$3
	\end{notation}


snippet question
	\question
	$1

snippet part
	\part
	$1


